html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #fbfbfb;
}

* {
    box-sizing: border-box;
}

header {
    background: linear-gradient(to bottom, #82d4c9, #fbfbfb);
    color: black;
    text-align: center;
    padding: 1.5em 0;
}

header a {
    text-decoration: none;
    color: rgb(86, 70, 92);
}

main {
    margin: 1em 25%;
    background: white;
    border-radius: 8px;
    padding: 1.5em;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-top: 0;
}

#index {
    text-align: center;
}
#index .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#index .buttons a {
    background: #82d4c9;
    color: black;
    text-decoration: none;
    padding: 0.75em 1em;
    margin: 0 0.5em;
    border-radius: 16px;
    line-height: 0.85em;
    transition: background 0.125s ease-out;
}
#index .buttons a:hover {
    background: #4dddca;
}

.columns {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    margin: 0.5em;
}

h2 {
    text-align: center;
}
label {
    margin: 0.25em 0;
}
input {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 0.25em;
}
td:first-child {
    width: 86px;
}

h4.error {
    color: red;
    font-weight: bold;
}
h4.success {
    color: green;
    font-weight: bold;
}

main#planning td {
    height: 1px;
}
@-moz-document url-prefix() {
    main#planning td {
        height: 100%;
    }
}

a.event, a.create-event {
    display: block;
    height: 100%;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 8px;
    transition: background 0.125s ease-out;
}
a.event h3, a.event h4 {
    text-align: left;
    padding: 0;
    margin: 0;
}
a.create-event {
    background: #176cce;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.create-event span {
    pointer-events: none;
    font-size: 2em;
}
a.create-event:hover {
    background: #3e78e4;
}
a.event {
    background: #ce1763;
    color: white;
}
a.event:hover {
    background: #e43e83;
}